{%extends 'base.html' %} {%block title%}
<title>Register & login</title>
{%endblock%} {%block content%}
<h1>Login Form</h1>
<form class="row g-3 p-4" action="/process_login" method="post">
  
  <div class="col-12">
    <label for="inputAddress" class="form-label">Email Address</label>
    <input type="email" class="form-control" id="inputAddress" />
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputAddress" />
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-success">Login</button>
  </div>
  <small>Not a member? <a class='text-warning' href="{{url_for('register')}}">Register</a></small>
</form>
{%endblock%}
