{% extends 'base.html' %} {%block title%}
<title>Recipe details</title>
{%endblock%} {%block content%}
<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight"></div>
  <div class="p-2 bd-highlight">
    <a href="{{url_for('recipe')}}">back to recipe</a>
  </div>
  <div class="p-2 bd-highlight">
    <a href="{{url_for('logout')}}">Logout</a>
  </div>
</div>
<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight"><h3>{{details.name}}</h3></div>
  <div class="p-2 bd-highlight">
    <p>Posted by: {{details.user.first_name}}</p>
  </div>
</div>
<div class="card">
  <div class="card-body text-dark">
    <div class="container">
      <div class="row g-1">
        <div class="col-4">
          <div class="p-3">Description:</div>
        </div>
        <div class="col-8">
          <div class="p-2">{{details.description}}</div>
        </div>
        <div class="col-4">
          <div class="p-2">Under 30 minutes?</div>
        </div>
        <div class="col-8">
          {% if details.can_be_cooked_in_30mins == 1%}
          <div class="p-2">Yes</div>
          {% else %}
          <div class="p-2">No</div>
          {%endif%}
        </div>
        <div class="col-4">
          <div class="p-2">Instructions</div>
        </div>
        <div class="col-8">
          <div class="p-2">{{details.instructions}}</div>
        </div>
        <div class="col-4">
          <div class="p-2">Cooked Date</div>
        </div>
        <div class="col-8">
          <div class="p-2">{{details.cooked_date.strftime('%B %d, %Y')}}</div>
        </div>
      </div>
    </div>
    {%endblock%}
  </div>
</div>
